<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2>Recetas Gato Agridulce</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" routerLink="/recetasDetalle">+</button>
    </div>
  </div>
  <br/>
  <div class="row">
      <div class="alert alert-info col-md-12" [hidden]="recetas.length != 0">
          <h4>¡No existen registros aún!</h4>
          <p>Intenta agregar algunas recetas.</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <ul class="list-group" *ngIf="recetas.length > 0">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let receta of recetas">
              <p><strong>{{receta.strNombreReceta}}</strong>.-{{receta.strDetalleReceta}}</p>
              <span class="botoneria">
                <button class="btn btn-info" (click)="editar(receta.key)">Editar</button>
                <button class="btn btn-danger" (click)="eliminar(receta.key)">Eliminar</button>
              </span>
            </li>
          </ul>
    </div>
  </div>
</div>