<div class="container">
  <br/>
  <div id="Registro" class="card card-primary col-md-8 center_div">
    <form class="horizontal-form" [formGroup]="loginForm" (ngSubmit)="logear(loginForm.value)" novalidate>
      <legend>Iniciar Sesión "Gato Agridulce"</legend>
      <br>
      <fieldset>
        <div class="form-group">
          <label for="strUsuario">Usuario:</label>
          <input type="text" class="form-control" formControlName="strUsuario">
          <div class="alert alert-danger" [hidden]="loginForm.controls['strUsuario'].valid || !loginForm.controls['strUsuario'].touched">
            Ingresa un usuario para iniciar sesión.
          </div>
        </div>
        <div class="form-group">
          <label for="">Contraseña:</label>
          <input type="password" class="form-control" formControlName="strPassword">
          <div class="alert alert-danger" [hidden]="loginForm.controls['strPassword'].valid || !loginForm.controls['strPassword'].touched">
            Ingresa una contraseña tambien para iniciar sesión.
          </div>
        </div>
        <button class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Ingresar</button>
      </fieldset>
    </form>
    <br>
  </div>
</div>
