<div class="container">
<form class="col-md-4 col-offset-md-4" [formGroup] = "rForm" (ngSubmit)="Aceptar(rForm.value)">
  <legend>
    Clientes {{actionForm}}
  </legend>
  <fieldset>
    <div class="form-group">
      <label for="strNombre">Nombre:</label>
      <input class="form-control" type="text" required [(ngModel)]="cliente.strNombre" name="strNombre" formControlName="strNombre">
      <div class="alert alert-danger" *ngIf="!rForm.controls['strNombre'].valid && !rForm.controls['strNombre'].touched">Campo requerido.</div>
    </div>
    <div class="form-group">
        <label for="strAPaterno">A. Paterno:</label>
        <input class="form-control" type="text" required [(ngModel)]="cliente.strAPaterno" name="strAPaterno" formControlName="strAPaterno">
      </div>
      <div>
        <input class="btn btn-sucess" type="submit" value="Aceptar" [disabled]="rForm.valid">
        <button class="btn btn-danger" (click)="Cancelar">Cancelar</button>
      </div>
  </fieldset>
</form>
</div>
