.formulario{
    padding: 35px;
    margin: auto;
    width: 60%;
    height: auto;
    box-sizing: border-box;
    background-color: rgb(65, 64, 64);
    color: whitesmoke;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    align-items: center;
    border-radius: 25px;
}

.campo{
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

label{
    width: 20%;
    height: auto;
    font-size: 1.3em;
}

input{
    width: 70%;
    height: auto;
    font-size: 1em;
    box-sizing: border-box;
    background-color: rgb(65, 64, 64);
    color: whitesmoke;
    border-style: solid;
    border-color: crimson;
    text-align: center;
    border-radius: 25px;
}

button{
    width: 40%;
    height: auto;
    color: white;
    background-color: inherit;
    border-color: crimson;
}